body {
  background-color: #121926;
  font-family: helvetica;
}
#confirmtxt {
  color: white;
}
#itmtxt {
  color: #38eabb;
}
span {
  color: blue;
  padding: 10px;
}
.slct:hover {
  color: #ff02bf;
  cursor: pointer;
}
input {
  background-color: black;
}
h4 {
  font-size: 50px;
  font-family: helvetica;
}
th, td {
  padding: 6px 8px;
}
tr:focus {
  color: green;
}
tr:hover {
  color: #54e362;
}
tr:active {
  color: #2ed2ff;
}
h3 {
  color: red;
  font-family: helvetica;
}
#titled {
  border-bottom: 1px white solid;
  padding-bottom: 5px;
  color: blue;
}
input[type="search"],
input[type="text"] {
  background-color: black;
  border-radius: 0px;
  border-bottom: : 1px white solid;
  box-sizing: none;
  height: 30px;
  float: left;
  font-family: helvetica;
  border: none;
  border-bottom: 1px solid white;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: none;
  border-bottom: 1px solid #54e362;
  outline: 0;
}
select {
  background-color: black;
  width: 189px;
  border-radius: 0px;
  border-bottom: 1px solid white;
  padding: 0px;
  padding-left: 7px;
  color: #6f8bd6;
}
#search-box {
  padding-left: 0px;
  margin-left: 0px;
  height: 40px;

  background-color: gray;
}
#search {
  color: #54e362;
  width: 100%;
  height: 100%;
}
#tool-pane {
  height: 40px;
  border-bottom: 1px white solid;
  background-color: black;
  color: #2e60e8;
  font-size: 20px;
  text-align: left center;
}

#zero {

}
#one {
  background-color: none;
}
#two {
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 0px;

  font-family: helvetica;
}
#three {
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: 1px white solid;

  font-family: helvetica;
}
#items-table {

}
#header {
  margin-top: 50px;
  border-bottom: 1px white solid;
  background-color: black;
}
#headerone {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 50px;
  letter-spacing: 2px;
}
#headertwo {
  font-size: 30px;
  letter-spacing: 1px;
}
::placeholder {
  color: #6f8bd6;
  font-family: helvetica;
}
table:hover, li:hover {
  cursor: pointer;
}
button {
  border-color: white;
  color: blue;
  border-radius: 0px;
}
button:focus {
  color: blue;
  border-color: white;
}
button:hover {
  color: #54e362;
  border-color: white;
}
button:active {
  border-color: blue;
}
ul {
  list-style-type: none;
}
li {
  float: left;
  margin-left: 10px;
  font-family: helvetica;
}
.ev {
  padding: 5px;
}
.btn-add:hover,
.BUTTONONE:hover, li:hover {
  color: #c21ad9;
}
.btn-add:active,
.BUTTONONE:active, li:active {
  color: yellow;
}
.btn-delete,
.btn-delete:focus, .btn-edit,
.btn-edit:focus {
  color: red;
}
.btn-delete:active {
  border-color: purple;
}
