body {
  background-color: black;
}
h4 {
  font-size: 50px;
  font-family: courier;
}
th, td {
  padding: 6px 8px;
}
tr:hover {
  color: #54e362;
}
tr:active {
  color: #2ed2ff;
}
h3 {
  color: red;
  font-family: helvetica;
}
#titled {
  border-bottom: 1px white solid;
  padding-bottom: 5px;
  color: blue;
}
input[type="search"],
input[type="text"] {
  background-color: black;
  border-radius: 0px;
  border: 1px white solid;
  box-sizing: none;
  height: 30px;
  float: left;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #54e362;
  outline: 0;
}
#search-box {
  padding-left: 0px;
  margin-left: 0px;
  height: 40px;
  border: 1px white solid;

  background-color: gray;
}
#search {
  color: #54e362;
  width: 100%;
  height: 100%;
}
#color-box {
  height: 40px;
  border: 2px white solid;
  background-color: black;
  color: green;
  font-size: 20px;
  text-align: center;
}
#color-box:hover {
  color: #c21ad9;
}
#zero {

}
#one {
  background-color: none;
}
#two {
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 0px;
  border: 2px white solid;

  font-family: courier;
}
#three {
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 0px;
  border: 2px white solid;

  font-family: courier;
}
#items-table {

}
#header {
  margin-top: 50px;
  border: 2px white solid;
  background-color: black;
}
#headerone {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 50px;
  letter-spacing: 2px;
}
#headertwo {
  font-size: 30px;
  letter-spacing: 1px;
}
::placeholder {
  color: white;
  font-family: courier;
}
table:hover {
  cursor: pointer;
}
button {
  border-color: white;
  color: blue;
}
button:focus {
  border-color: white;
  color: blue;
}
button:hover {
  color: #54e362;
  border-color: white;
}
button:active {
  border-color: blue;
}
